<div class="container">
  <h3>Master of Angular</h3>
  <br />
  <div class="row">
    <div class="col col-3">
      <nav>
        <ul class="list-unstyled">
          <li>Template data binding</li>
          <li>
            <ul>
              <li><a routerLink="/template-data-binding/displaying-data">Data Binding</a></li>
              <li><a routerLink="/template-data-binding/structural-directives">Structural Directives</a></li>
              <li><a routerLink="/template-data-binding/pipes">Pipes</a></li>
              <li><a routerLink="/template-data-binding/component-interaction">Component Interaction</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



