@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<app-root _nghost-c0="" ng-version="4.4.6">
  <div _ngcontent-c0="" style="text-align:center">
    <h1 _ngcontent-c0="">
      Welcome to app!
    </h1>
  </div>
</app-root>
